// @author Mochamad Yudi Sobari
// @github https://github.com/mochamadyudi
// @email yuyuid.id12@gmail.com
// @contact +6285718851007

main {
  padding: 0;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[data-theme=dark]{
  .ant{
    &-layout{
      &-sider{
        top:65px !important;
        height: 100vh !important;
        //background: transparent !important;
        box-shadow: 0 10px 15px rgb(22, 29, 52) !important;
        //border-right: 1px solid #fff;
      }
    }
  }
}
body {
  &:not([data-theme=dark]){
    background: rgba(153, 178, 225, 0.17) !important;
  }
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 1.6;
  @include themify($themes) {
    color: themed('colorText');
  }
}

* {
  box-sizing: inherit;
}

ul, ol {
  padding-left: 15px;
  margin-bottom: 0;
}

a {
  color: $color-blue;
  transition: all 0.3s;
  text-decoration: none;
  &:hover {
    text-decoration: none;

  }
}

img {
  width: 100%;
}
