// @author Mochamad Yudi Sobari
// @github https://github.com/mochamadyudi
// @email yuyuid.id12@gmail.com
// @contact +6285718851007

body {
  //@include themify($themes) {
  //  background: themed('body') !important;
  //}
}

header{
  @include themify($themes){
    background: themed('nav-hero') !important;
  }
}

.logo{
  padding:0 !important;
}
.dark{
  body, h1,h2,h3,h4,h5,h6,div,p,span,a{
    @include themify($themes){
      color: themed('text') !important;
      font-color: themed('text') !important;
    }
  }
}

.app{
  &-content{
    max-width: 100% !important;
    width: 100% !important;
    overflow: auto !important;
    &.layout{
      &-top{
        &-nav{
          padding-top:25px;
        }
      }
    }
  }
}

.page{
  &-header{
    &-alt{
      //border:1px solid red !important;
      //max-width: 100% !important;
    }
  }
}